<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid d-flex flex-row space-content-between">
    <div></div>
      <div class="d-lg-none d-block">
          <a class="navbar-brand btn btn-dark" href="/">LOC-AUTO</a>
          <img src="../../assets/images/icones/IMG_0991.PNG" alt="dollar" width="90rem">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto d-flex flex-lg-row flex-column" id="navbar">
      <div class="d-flex flex-lg-row flex-column">
          <li class="nav-item active">
            <a class="nav-link" href="/announce/add">Louer mon véhicule
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/message">Chat
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/booking/index">Booking
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
        </div>
        <li class="nav-item lg active">

        <div class="d-none d-lg-block">
          <a class="navbar-brand btn btn-dark" href="/">LOC-AUTO</a>
          <img src="../../assets/images/icones/IMG_0991.PNG" alt="dollar" width="90rem">
        </div>
        </li>
        <div class="d-flex flex-lg-row flex-column">
          <li class="nav-item active">
            <a class="nav-link" href="/account/add">Inscription    

              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Connexion
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
        </div>
    </div>
  </div>
</nav>