{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Chat here !</h1>
    <div class="container" id="message_div">
        <div id="message_list">
            <div class="message_info">
                <h3>NOM Prénom</h3>
                <h5>Nom de l'annonce</h5>
                <div class="d-flex flex-row space-content-between">
                    <p>Dernier message envoyé</p>
                    <p>16:05</p>
                </div>
            </div>
        </div>
        <div id="message_container">
        </div> 
    </div>
{% endblock %}
