{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Announce</h1>
    <ul>
        {% for item in items %}
            <li><a href="/annonce/show/{{ item.id }}">{{ item.id }}. {{ item.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/annonce/add">Add</a>
{% endblock %}
