{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add a new admin</h1>
    <form method="post">
    <input type="hidden" value="{{ admin.id }}" name="id">
    <input type="text" value="{{ admin.title }}" name="title">
    <input type="submit" value="Add">
</form>
<a href="/admin">back to list</a>
{% endblock %}
