{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit admin {{ admin.title }}</h1>
    <form method="post">
    <input type="hidden" value="{{ admin.id }}" name="id">
    <input type="text" value="{{ admin.title }}" name="title">
    <input type="submit" value="Update">
</form>
<br>
    <a href="/admin/show/{{ admin.id }}">Back to list</a>
{% endblock %}
