{% extends 'layout.html.twig' %}

{% block content %}


    <h1>Edit search {{ search.Car_id }}</h1>
    <form method="post" action="/announce/search">
        <div>
        <input type="search" name="search" placeholder="Search a city">
        <input type="submit">
        </div>
    </form>
            

{% endblock %}