{% extends 'layout.html.twig' %}

{% block content %}


    <h1>Edit search {{ search.Car_id }}</h1>
    <form method="GET" action="/announce">
        <div>
        <input type="search" name="s" placeholder="Search a city">
        <input type="submit" name="Envoyer">
        </div>
    </form>
            

{% endblock %}
