{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Look if we have cars to rent in your city !</h1>
    <form method="post" action="/announce/search">
        <div>
        <input type="search" name="search" placeholder="Search a city">
        <input type="submit">
        </div>
    </form>
    </div>

{% endblock %}