{% extends 'layout.html.twig' %}

{% block content %}
    <div>
    <h1 class="d-flex justify-content-center mt-4">Edit search {{ search.Car_id }}</h1>
    <form method="GET" action="/announce">
        <div class="d-flex justify-content-center mt-4">
        <input type="search" name="s" placeholder="Search a city">
        <input type="submit" name="Envoyer">
        </div>
    </form>
    </div>

{% endblock %}