{% extends 'layout.html.twig' %}

{% block content %}

    <div class="show">
        <h1>Edit search {{ search.Car_id }}</h1>
        <form method="GET" action="/announce">
            <input type="search" name="s" placeholder="Search a city">
            <input type="submit" name="Envoyer">
        </form>
            <div class="picture">
                <img src="\assets\images\illustration-application-location-transport_335657-438.jpg">
            </div>
    </div>
   
         

{% endblock %}