{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Create an account</h1>

    <form method="post">
    <input type="hidden" value="{{ account.id }}" name="id">
    <input type="text" value="{{ account.title }}" name="title">
    <input type="submit" value="Add">
</form>
<a href="/account">back to list</a>
{% endblock %}
