{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add a new contrat</h1>
    <form method="post">
    <input type="hidden" value="{{ contrat.id }}" name="id">
    <input type="text" value="{{ contrat.title }}" name="title">
    <input type="submit" value="Add">
</form>
<a href="/contrat">back to list</a>
{% endblock %}
