{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit contrat {{ contrat.title }}</h1>
    <form method="post">
    <input type="hidden" value="{{ contrat.id }}" name="id">
    <input type="text" value="{{ contrat.title }}" name="title">
    <input type="submit" value="Update">
</form>
<br>
    <a href="/contrat/show/{{ contrat.id }}">Back to list</a>
{% endblock %}
