{% extends 'layout.html.twig' %}

{% block content %}
    <h1>contrats</h1>
    <ul>
        {% for contrat in contrats %}
            <li><a href="/contrat/show/{{ contrat.id }}">{{ contrat.id }}. {{ contrat.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/contrat/add">Add</a>
{% endblock %}
