.announce, .announce:hover {
    text-decoration: none;
    color: inherit;
}

.img_announce{
    max-height: 20vh;
    max-width: 20vw;
}

.div_announce{
    max-width: 20vw;
}

#navbar{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}