{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Create an announce</h1>

    <form method="POST" enctype="multipart/form-data">
            <input type="hidden" value={{ announce.id }} name="id">
            <div class="form-group">
                <label class="col-form-label" for="title">Title of your announce : </label>
                <input type="text" class="form-control border border-3" name="title">
            </div>
            <div class="d-flex row">
                <div class="form-group col-6">
                    <label class="col-form-label" for="brand">Brand : </label>
                    <input type="text" class="form-control border border-3" name="brand">
                </div>
                <div class="form-group col-6">
                    <label class="col-form-label" for="model">Model : </label>
                    <input type="text" class="form-control border border-3" name="model">
                </div>
            </div>
            <div class="d-flex row">
                <div class="form-group col-4">
                    <label class="col-form-label" for="registration_number">Registration number : </label>
                    <input type="text" class="form-control border border-3" name="registration_number">
                </div>
                <div class="form-group col-4">
                    <label class="col-form-label" for="year">Year : </label>
                    <input type="year" class="form-control border border-3" name="year">
                </div>
                <div class="form-group col-4">
                    <label class="col-form-label" for="km">Kilometers : </label>
                    <input type="number" class="form-control border border-3" name="km">
                </div>
            </div>
            <div class="d-flex row">
                <div class="form-group col-4">
                    <label class="col-form-label" for="color">Color : </label>
                    <input type="text" class="form-control border border-3" name="color">
                </div>
                <div class="form-group col-4">
                    <label class="col-form-label" for="daily_price">Daily Price : </label>
                    <input type="number" class="form-control border border-3" name="daily_price">
                </div>
                <div class="form-group col-4">
                    <label class="col-form-label" for="power">Power : </label>
                    <input type="number" class="form-control border border-3" name="power">
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="picture">Post a picture of your vehicle : </label>
                <input type="file" accept="image/png, image/jpeg, image/jpg" class="form-control border border-3" name="picture">
            </div>

            <input type="submit" class="btn btn-primary mt-3 mb-3" value="Add">
            <a class="btn btn-primary" href="/announce">Cancel</a>
        </form>

<a class="btn btn-primary" href="/announce">back to list</a>
{% endblock %}
