{% extends 'layout.html.twig' %}

{% block content %}

<h1>Réservation</h1>

  <h2>Paiement</h2>

<div class="d-flex flex-row">
<div class="card">
<h3>Données bancaires</h3>
      <label for="Visa">Visa</label>
      <input type="range" value="Visa">
      <label for="MasterCard">MasterCard</label>
      <input type="range" value="MasterCard">
      <label for="American Express">American Express</label>
      <input type="range" value="American Express">
      <label for="Paypal">Paypal</label>
      <input type="range" value="Paypal">
      <div class="card">
      <input type="checkbox" value="Payer en cryptomonnaie">
    </div>
    </div>

    <div class="card">
      <h3>Informations confidentielles</h3>
      <div>
      <input type="hidden" {{payment.name}}>
      <input type="text" value="Propriétaire de la carte">
      <input type="hidden" {{payment.card_number}}>
      <input type="text" value="Numéro de carte (composée de 16 chiffres)">
      <input type="hidden" {{payment.expiry}}>
      <input type="text" value="Date d'expiration">
      <input type="hidden" {{payment.key}}>
      <input type="text" value="Cryptogramme (3 chiffres au verso)">
      </div>
    </div>
</div>

  <input type="submit" class="btn btn-primary mt-3 mb-3" value="Booking">
  <button class="btn btn-primary mt-3 mb-3">Cancel</button>

  {% endblock %}